*/node_modules
node_modules
*/dist

# .gitignore 至少包含
backend/.env
backend/.env.development
backups/

data/
data/*
workspace/
workspace/*

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
